<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/base_style.css') }}">
    {% block link %}
    {% endblock %}
</head>

<body>
<header>
  <div class="bloc_header">
      <a href="{{ path('concept') }}">Concept</a>
      <ul class="menu">
          <li id="list">Emprunter
              <ul class="sousmenu">
                  <li><a href="{{ path('produit',{'id':1}) }}">Robe</a></li>
                  <li><a href="{{ path('produit',{'id':2}) }}">Combinaisons/<br>Pantalons</a></li>
                  <li><a href="{{ path('produit',{'id':3}) }}">Jupe</a></li>
                  <li><a href="{{ path('produit',{'id':4}) }}">Top/Chemise</a></li>
                  <li><a href="{{ path('produit',{'id':5 }) }}">Veste/Manteau</a></li>
                  <li><a href="{{ path('produit',{'id': 6}) }}">Accessoires</a></li>
              </ul>
          </li>

      </ul>
      <a href="{{ path('homepage') }}"><h3>Hulyah location</h3></a>
      <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
      {% if is_granted('ROLE_USER') == true %}
          <a href="{{path('fos_user_security_logout')}}">Déconnexion</a>
      {% else %}
          <a href="{{ path('fos_user_security_login') }}">Connexion</a>
      {% endif %}

  </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
<p>Suivez-nous</p>
    <div></div>
    <div></div>
    <div></div>
</footer>

</body>
</html>