{% extends 'base/base.html.twig' %}
{% block link %}
    <link rel="stylesheet" href="{{ asset('assets/css/produits_style.css') }}">
{% endblock %}
{% block content %}
    <div class="image_produit">


            <img class="card-img-top" src="{{ asset('img/img_page_produit') }}/{{ article.filename }}" alt="image">
            <h4>{{ article.name }}</h4>

    </div>

    {{ form_start(form) }}
    {{ form_label(form.dateDebut) }}
    {{ form_widget(form.dateDebut) }}
    <br>
    {{ form_widget(form.dateFin) }}
    <br>
    {{ form_widget(form.louer) }}

    {{ form_end(form) }}


{% endblock %}